<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.KineFit.app">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.sensor.stepcounter" />
    <uses-feature android:name="android.hardware.sensor.stepdetector" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:theme="@style/_KineFit"
        android:configChanges="keyboardHidden|orientation"
        android:label="@string/app_name"
        android:icon="@drawable/icon">

        <activity android:name=".activities.LoginActivity"
                    android:label="KineFit - Login">
        </activity>

        <activity
            android:name=".activities.DashboardActivity"
            android:label="KineFit">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.NieuweLoggingActivity"
            android:label="KineFit - Logboek">

        </activity>

        <activity
            android:name=".activities.StapActivity"
            android:label="KineFit - Stappen" >
        </activity>

        <activity
            android:name=".activities.LogboekActivity"
            android:label="KineFit - Logboek">

        </activity>

        <activity
            android:name=".activities.TakenActivity"
            android:label="KineFit - Taken">

        </activity>

        <activity
            android:name=".activities.RegisterActivity"
            android:label="KineFit"></activity>

        <receiver
            android:name=".services.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".services.RegisterStepsService"
            android:exported="false"/>



    </application>
    <!--  Internet Permissions -->

</manifest>
